# Node modules
node_modules/

# Environment variables
.env

# Log files
logs/

# Build files
build/
dist/

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.idea/
.vscode/

# Mac files
.DS_Store
